<h1><%= t(:editing_category) %></h1>

<%= render "form", category: @category %>

<br>

<div>
  <%= link_to t(:show_category), @category %> |
  <%= link_to t(:edit_category), categories_path %>
</div>
