<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<div style="width: 960px;">
  <canvas id="myChart"></canvas>
</div><br/>

<script>
  const ctx = document.getElementById('myChart').getContext('2d')

  const config = {
    type: "<%= @chart_type %>",
    data: <%= raw @data %>,
    // options: {
    //   responsive: false
    // }
  };

  const chart = new Chart(ctx, config);
</script>
